<h1><%= title %></h1>
<link rel="stylesheet" href="/css/styles.css">
<ul>
  <% if (users.length > 0) { %>
    <% users.forEach(function(user) { %>
      <li>Name: <%= user.firstName %> <%= user.lastName %>, Email: <%= user.email %></li>
    <% }); %>
  <% } else { %>
    <li>No users found matching your search criteria.</li>
  <% } %>
</ul>